button {
    background-color: #fff;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 4px;
    min-width: 64px;
    min-height: 36px;
    font-size: 18px;
    font-weight: bold;
    padding-right: 16px;
    padding-left: 16px;
}

button:hover {
    background-color: rgba(0, 0, 0, .04);
    cursor: pointer;
}

.emoji {
    font-weight: 100;
}

button.ternary {
    background-color: #fff;
    outline: none;
    border: none;
    border-radius: 4px;
    min-width: 64px;
    min-height: 36px;
    font-size: 18px;
    font-weight: bold;
    padding-right: 16px;
    padding-left: 16px;
}

button.ternary:hover {
    background-color: rgba(0, 0, 0, .04);
    cursor: pointer;
}

button.ternary.active{
    background-color: #000;
    color: white
}