.data-table {
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 4px;
    display: inline-flex;
    cursor:default;
    background-color: #fff;
}

table {
    border-collapse: collapse;
}

tr {
    height: 56px;
}

tbody tr {
    border-top: 1px solid rgba(0, 0, 0, .12);
}

tbody tr:hover {
    background-color: rgba(0, 0, 0, .04);
}

td,
th {
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
}

.emoji {
    font-weight: 100;
}



textarea{
    min-width: 280px;
    min-height: 96px;
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}
textarea:hover{
    background-color: rgba(0, 0, 0, .04);
}

input[type=text]{
    min-width: 280px;
    min-height: 48px;
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 16px;
}
input[type=text]:hover{
    background-color: rgba(0, 0, 0, .04);

}

.container {
    display: grid;
    /* grid-template-columns: minmax(max-content,1fr) minmax(max-content,2fr); */
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    justify-items: stretch;
    align-items: stretch;
    /* background-color: khaki; */
 }

 .container.--grid-1{
    grid-template-columns: 1fr 1fr 1fr;
 }