.checkbox {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border-style: 1;
    padding: 0 10px 0 10px;
    border-color: #CBD6E6;
    border-style: solid;
    border-width: 1px;
    color: #27416b;
}

.dropdown-container {
    max-width: 280px;
    width: 280px;
}

.dropdown {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    padding: 0 10px 0 10px;
    border-color: #CBD6E6;
    color: #27416b;
}

.number-container {
    width: 280px;
}

.number {
    height: 40px;
    border-radius: 8px;
    border-style: 1;
    padding: 0 10px 0 10px;
    border-color: #CBD6E6;
    border-style: solid;
    border-width: 1px;
    color: #27416b;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}


